<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>My awesome website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./assets/css/app.css" />
    </head>
    <body class="text-gray-600 work-sans leading-normal text-base tracking-normal bg-gray-50">
        {% include "shared/header.html" %}

        {% block content %}
        {% endblock %}
    </body>
</html>
